html {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h2 {
  font-family: Roboto-Condensed, sans-serif;
  font-size: 3rem;
  font-weight: bold;
}

.img-flex {
  position: relative;
  width: 100%;
  max-height: 500px;

}
